body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    height: 100vh;
    background: linear-gradient(120deg, #e75590, #00c2cb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    min-width: 300px;
    height: 400px;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    margin-bottom: 32px;
    color: #303030;
}

.login-farm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input{
    height: 48px;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login-sunmit {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.login-input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: linear-gradient(120deg, #e75590, #00c2cb);
    transition: .3s ease-in-out;
}

.login-submit{
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, #e75590, #00c2cb, #e75590);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.login-reset{
    font-size: 12px;
    color: #929292;
    text-decoration: none;
    text-align: center;
}